
/*header*/
header{
 height:270px;
 background: #F8F8F8;
 color:black;
 text-decoration:none;
}

#bandeau{
   background: gray;
   color:white;
}
span{
    font-style:italic;
}


.aide{
    text-align:center;
    margin-top:-20px;
}
.securite{
    margin-top:-20px;
    float:right;
}

.logo{
    margin-top:30px;
    margin-left:60px;
    float:left;
}

#droite{
    float:right;
    color: #000;
   
}

.gauche, .compte, .panier, .left{
    float:left;
    padding-right:4px;
}    

.droite, .devis, .conseil, .right{
    float:right;
}

.conseil, .devis, .compte, .panier{
    width:250px;
    height:70px;
    border-bottom:1px solid gray;

}
.conseil a, .devis a, .compte a, .panier a{
    color:black;
    text-decoration:none;
}
.conseil a p, .devis a p, .compte a p, .panier a p{
    font-weight:bold;
}

.conseil, .panier{
    border-top:1px solid gray;
}

.compte, .panier{
    padding-left:5px;
    padding-right:-5px;
}
/* fin header*/
/* nav*/
nav{
   border:1px solid lightslategray;
   background: #F8F8F8;
   height:40px;
   text-align:center;
}

nav ul li{
    display:inline-block;
    list-style-type: none;
}
nav ul li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    border-left: 0.5px solid lightslategrey;
    padding:5px;
}
button{
    background-color:#808080;
    color: white;
}
/*fin header et nav*/


#contenu{
    width:70%;
    background: white;
    margin:auto;
}
/* essai carroussel*/
#slider{
    border:1px solid gray;
    background:white;
    overflow:hidden;
    margin-top:20px;
    float:left;
}

#slider, .img{
    width:779px;
    height:448px;
    
}
.carroussel{
    width:4674px;
    color:white;
    transform:translatex(-779px);
    animation-name:slide;
    animation-duration:5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes slide{
    0%{
         transform:translatex(0%);
    }
    20%{
         transform:translatex(0%);
    }
    25%{
         transform:translatex(779px);
    }
    45%{
         transform:translatex(779px);
    }
    50%{
         transform:translatex(1558px);
    }
    70%{
         transform:translatex(1558px);
    }
    75%{
         transform:translatex(2337px);
    }
    95%{
         transform:translatex(2337px);
    }
    100%{
         transform:translatex(3895px);
    }

}

aside{
    float:right;
    margin:20px;
}

.carrelage, .parquet{
    border:1px solid #F8F8F8 ;
    width:400px;
    height:400px;
    margin:40px;
    position:relative;
    
}
.para{
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    
}

.carrelage  .para a, .parquet .para a{
    color:white;
    background:#F32675;
    text-decoration:none;
}

.clear{
    clear:both;
}
h3{
    border:1px solid #F32675; 
    background:#F32675; 
    color: white;
    text-transform:uppercase;
    width:100px;
}
.ligne1, .ligne2, .ligne3{
    margin:5px;
    padding:20px;
    color:gray;
   
}
.ligne1{
    float:left;
}
.ligne2{
    float:left;
}
.ligne3{
float:right;
}
.ligne1 .droite, .ligne2 .droite{
    width:330px;
}
.ligne1 .gauche, .ligne2 .gauche{
    width:330px;
}

.ligne1 p, .ligne2 p, .ligne3 p{
    text-transform:uppercase;
    font-weight: normal;
}
#produits{
    border-top:1px solid gray;
}

.produits{
    border:1px solid gray;
    margin:15px;
    float:left;
    text-align:center;
    font-weight: bold;
    position:relative;
}
.promo{
    position:absolute;
    top:0;

}
.produits span{
    color: #F32675;
}
.produits i .fas fa-calculator{
    color: white;
    border:1px solid gray;
    background: gray;
}

.gris{
    float:left;
    width:50%;
    background: #363636;
    color:white;
}
.rose{
    float:right;
    width:50%;
    background: #F32675;
    color:white;
}
.clair{
    background: lightgray;
    color:white;

}
/*****zone eshop coordonnees***/
.coordonnees{
    background:#363636;
    border: 1px solid lightslategray;
    width:100%;
    height:400px;
    color: white;  
}
.boutique{
    color:#F32675;
    text-align:center;
    width:100%;
    height:20px;
 
}
.contact{
    width:33%;
    height:300px;
    float:left;
    border-right:1px solid gray;
}

.horaires{
    width:33%;
    height:300px;
    float:left;
    padding-left:5px;
    border-right:1px solid gray;
}

.identite{
    padding-left:5px;
    height:300px;
    width:33%;
    float:left;
}

/****footer*****/
footer{
    background: #F8F8F8;
    color:black;
    text-decoration:none;
}
/***partie gauche de mon footer***/
.enlien{
    width:100%; 
}
.gaucheleft{
    width:75%;
    float:left;
}

h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
hr{
    width:300px;
    color:lightgrey;
}

.liste1{ /*.qualite, .partage*/
    width:25%;
    float:left;
} 
.liste2{
    width:25%;
    float:right;
}

.liste1 ul li, .liste2 ul li{
    list-style-type: none;
}

.liste1 ul li a, .liste2 ul li a{
   color: lightslategrey;
   
}
.qualite{
    text-align: center;
    float:right;
}

/*****partie droite de mon footer****/
.partage{
    float:right;
    width:25%;
    height:90%;
}
.newsletter{
    border:1px solid #EEE8E8;
    width:350px;
    height:150px;
    text-align:center;
    background: #EEE8E8;
}
.envoi{
    margin-top:5px;
    border:1px solid #EEE8E8;
    width:350px;
    height:170px;
    text-align:center;
    background: #EEE8E8;
}
input:first-of-type{
    position:relative;
}

 #partage input:last-of-type{
    background-color:#808080;
    color:white;
}
.iconesreseaux{
    margin-right:20px;
    text-align: center;
}
.iconesreseaux i{
    margin:10px;
}
h5{
    font-weight:bolder;
    font-size:1em;
}
h5:first-child{
    font-size:1.2em;
}
.apropos{
    width:800px;
    float:left;
}
#bas{
    border-top: 1px solid gray;
}
.copyright{
    width:50%;
    height:50px;
    float:left;
}

.copyright img{
    float:right; 
}

.rdv{
    float:right;
}

    
/*.triangle{
    width:30px;
    height:30px;
    border:1px solid black;
    border-color: transparent pink transparent;
    border-width: 1px;
    
}*/