#conteneur{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-color: aqua;
    border: 2px solid black;
}

header{
    
    height: 40px;
    background-color: blue;
    color: whitesmoke;
    text-align: center;
}

nav{  
    height: 20px;
    text-align: center;
    background-color: indigo;
    color: antiquewhite;
}


footer{
    height: 40px;
    text-align: center;
    background-color: aquamarine;
    color: coral;
}
section{
    padding: 5px;
    text-align: center;
}


.A{
    width: 150px;
    height: 75px;
    border: 1px solid whitesmoke;
    background: linear-gradient(blue, lightskyblue);
    float: left;
}
.B{
    width: 150px;
    height: 75px;
    border: 1px solid whitesmoke;
    background: linear-gradient(yellow, orangered);
    float: left;
}
.C{
    width: 150px;
    height: 75px;
    border: 1px solid whitesmoke;
    background: linear-gradient(green, purple);
    float: left;   
}

.D{
    width: 150px;
    height: 75px;
    border: 1px solid whitesmoke;
    background: linear-gradient(coral, lightseagreen);
    float: left;   
}
.clear{
    clear: both;
}
/* ce code correspond à mon code, pas à la correction. la correction est disponible sur slack*/