@import url('https://fonts.googleapis.com/css?family=Lora');
body{
    margin:0;
    padding:0;
}

section{
    width:70%;
    margin:auto;
    background:grey;
    padding:5px 40px;
}


@media(min-width:480px){/* min-width: 440px =>à partir d'un écran large de 768px et au-dessus*/
    section{
        width: 460px;
        display:block;
    }
     table:first-of-type{
        width:100%;
    } 
}

@media (min-width: 768px){ /*min-width: 760px => à partir d'un écran large de 768px et au-dessus*/
    section{
        width: 750px;
        display:block;
    }
    table:first-of-type{
        width:100%;
    }
}

/*les média- queries définissent des points de rupture: de transition d'affichage (break points): lorsque la taille d'un ecran passe un palier(ex on passe d'un ecran de smartphone a un ecran de tablette, puis de desktop... */
@media (min-width: 992px){ /*1200px et plus*/
    section{
        width: 970px;
        display:block;
    }
    table:first-of-type{
        width:100%;
    }
}

@media (min-width:1200px){ /*1200px et plus*/
    section{
        width: 1170px;
        display:block;
    }
    table:first-of-type{
        width:100%;
    }
}   

@media print{
    section{
        font-size:120%;
        background:white;
    }
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size:200%;
}

.identite{
    width:100%;
}

.identite input{
    width:30%;
    display:block;
}

.numero{
    display:flex;
    flex-direction:column;/*pour pouvoir les mettre les uns au-dessus des autres en colonne*/
    margin-left:80%;/*1050px, mais pas responsive*/
    text-transform:uppercase;
}

.facture input{
    width:25%;  
}

.facturation select{
    width:22%;
}

.gauche{
    float:left;
}

.droite{
    float:right;
}

.clear{
    clear:both;
} 

.destinataire , .expediteur{
   font-size:120%;/*1.2em*/
   text-transform:uppercase; 
   margin:0 50px;
}

.expediteur{
    padding:0 60px;
}

.destinataire input, .expediteur input{
    display:block; 
    width:100%;/*200px*/
    padding: 0 50px;
}

.expediteur select,.destinataire select{
    width:142%;/*206px*/
}

table:first-of-type{
    width:100%;
    border:1px solid;
    border-collapse: collapse;
    margin-top:50px;
}


caption{
    font-size:1.5em;
    font-weight:bold;
    font-family: 'Lora', serif;
}

td, th{
    border:1px solid;
}

table input{
    width:95%;
}

table:last-of-type{
   text-transform:uppercase;
    border-collapse: collapse;
    margin-top:20px;
    width:100%;
}

td[colspan="4"]{
    border:none;
    text-align:right;
}

footer{
    margin-top:60px;
}

.total{
    width:200px;
}

p:last-of-type{
    text-align:center;
    font-weight:bold;
}

 #remise{
    display:none;/*je precise en css que je veux que mon paragraphe soit caché mais toujours dans le flux.Pour le faire reapparaitre, je gere l'evenement en js*/
} 





