body{
    
    font-size: 25px;/*taille de police:25px*/
}
h1{
    background-color: darkslategray;
    color:white;/* couleur de typo*/
}

section p{
    color:red;/*valeur attribuée à tous les <p> à l'intérieur de la balise section*/
}

section p:first-child{
    color:darkblue;/*premier <p>*/
}

/*les sections,si elles ne sont pas placées dans l'ordre, ne fonctionneront pas, par ex: la section 10 est placée avant la section 3, donc ça ne focntionne pas*/


section p:last-child{
    color:lightgreen;/*dernier <p>*/
}

section p:nth-child(even){
    color:lightblue;/*les <p> pairs*/
}

section p:nth-child(odd){
    color:brown;/*les <p> impairs*/
}
/* faire attention à l'ordre de priorité, CSS ne prend pas en compte un mauvais ordre*/
section p:nth-child(3), section p:nth-child(10){
    color:orange;
}

#zone3{/* on a ecrit un # pour signifié que c'est un ID*/
    background-color:black;
    color:white;
    height: 100px;
}

 .zone1{/* on a ecrit un . pour signifié que c'est une class*/
    color:#dc143c;
    background-color:black;
    height:30px;
}

.zone2{
    color:#008080;
}

.lime{
    color:#00ff00;
}

#zone3:after{
    content: "Hello tout le monde!";
}

#zone3:before{/*je rajoute du contenu dans l'ID*/
    content: "rajouté avant";
    background-color: cyan;
}

/* ne pas oublié les ; après la valeur pour qu'elle soit prise en compte */
li:nth-child(2){
    background-color: red;
}