body, html {
    height: 100%;
  }

  .img-1{
    /* L'image de fond */
    background-image: url('../css/corbeau.jpg');
  }
  .img-2{
    /* L'image de fond */
    background-image: url('../css/mont_fuji.jpg');
  }

  .parallax {
    /* L'image de fond */
    /*background-image: url('ciel.jpg');*/

    /* la hauteur de cette image de fond
    A NOTER : les balises <body> et <html> ont aussi une hauteur à 100% */
    height: 100%; 

    /* les propriétés qui vont créer l'effet de parallax au scroll */
    background-attachment: fixed; /* on 'attache' l'image par rapport à l'écran pour éviter qu'elle ne défile au scroll */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Ici on supprime l'effet parallax pour les tablettes et téléphones. 
  Adapter la taille de l'écran (nombre de pixels de la media querie) selon la taille souhaitée
  */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  div.scroll{
  height:280px;
  font-size:36px;
    }
    div.scroll p{
      margin: 0;
    }

    #scroll_1{
      background-image: url('../css/hibou.jpg');
    }
    #scroll_2{
      background-image: url('../css/lever_soleil.jpg');
    }

    #scroll_3{
      background-image: url('../css/yellowstone.jpg');
    }